<header>
  <h1> Uconnect Server </h1>
</header>
<style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    button {
        margin-top: 1rem;
    }
</style>
<script defer>
    function handleClick() {
        console.log('clicked');
    }
</script>